<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/player/home" th:text="#{navbar.home}"></a>
        <a class="nav-item nav-link" href="/player/wagers" th:text="#{navbar.wagers}"></a>
        <a class="nav-item nav-link" href="/player/events" th:text="#{navbar.events}"></a>
        <a class="nav-item nav-link" href="/logout" th:text="#{navbar.logout}"></a>
    </div>
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="?lang=ua" th:text="#{navbar.locale.ua}"></a>
        <a class="nav-item nav-link" href="?lang=eng" th:text="#{navbar.locale.eng}"></a>
    </div>
</nav>
</body>
</html>